.Menu > ul {
    list-style: none;
    margin: 0px 0px 0px 20px;
    padding-left: 0px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    color: #8A8F9C;
}

.Menu > ul > li {
    margin-top: 18px;
}

.Menu > ul > li > ul {
    list-style: none;
    margin: 18px 0px 0px 0px;
    padding-left: 0px;
    text-transform: capitalize;
    font-size: 14px;
}

.Menu > ul > li > ul > li {
    width: 195px;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
}

.Menu > ul > li > ul > li > img.icon {
    margin-left: 14px;
    margin-right: 12px;
    width: 18px;
    height: 12px;
}

.Menu > ul > li > ul > li.active {
    color:white;
    background-color: #7769FF;
}

.Menu > .loginStatus {
    height: 20px;
    font-size: 14px;
    color: #95989A;
    text-align: center;
    text-transform: capitalize;
}

.loginStatus > span {
    display: block;
    float: left;
}

.loginStatus > .icon {
    width: 40px;
    background: #7769FF;
    height: 20px;
    border-radius: 10px;
}

.loginStatus > .icon::before {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    content: ' ';
    border-radius: 7px;
    top: 3px;
    left: 3px;
}

.loginStatus > .label {
    margin-left: 14px;
}

.alignToBottom {
    position: absolute;
    bottom: 30px;
    left: 21px;
}